<div class="container">
  <h1><i>Casa Leopardi</i><br><button class="button" (click)="goBack()" style="vertical-align:middle"><span>
        <mat-icon>arrow_back</mat-icon>
      </span></button></h1>
  <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
    src="assets\images\Casa Leopardi_IGP0936 copia_DxOFP.jpg" alt="Card image cap">

  <div class="map-container" #map ></div>
  <button class="button" style="color: red;" (click)="showMap()">Apri con maps</button>

  <div class="text">
    La visita di Casa Leopardi permette di vedere gli ambienti frequentati dal poeta e gli autografi giovanili.
    All’interno della

    <a data-toggle="collapse" href="#multiCollapseExample3" aria-expanded="false"
      aria-controls="multiCollapseExample3">residenza</a>
    <div class="collapse multi-collapse" id="multiCollapseExample3">
      <img style="width: 300px;" src="assets\images\Casa Leopardi_IGP0936 copia_DxOFP.jpg">
    </div>

    abitata oggi dagli eredi, tutto ci rimanda al tempo di Giacomo, con le scalinate, i passaggi interni, gli arredi, la
    biblioteca. Uscendo, se ci voltiamo, cogliamo l’ampia estensione del palazzo della famiglia e le finestre dietro le
    quali immaginiamo vederlo studiare, ripararsi dal freddo con una piccola coperta sulle gambe, prendere appunti,
    sfogliare uno, due, tre volumi della grande biblioteca voluta dal padre.
    Da sotto i veroni del paterno ostello si apre la famosa
    <a routerLink="/piazzuola-sabato-del-villaggio">"Piazzuola del sabato del villaggio"</a>
    luogo rimasto simile a quello che vedeva Giacomo agli inizi del diciannovesimo secolo. La piazza è uno spazio
    scosceso, non molto ampio, dove sulla sinistra si trova la chiesa di Santa Maria in Montemorello rifatta nel 1501 da
    due antenati del poeta. Qui Giacomo fu battezzato da Padre Luigi Leopardi, filippino, zio di Monaldo, il giorno dopo
    la sua nascita il 29 giugno 1798: padrini il nonno materno Filippo Antici e la nonna paterna Virginia Mosca
    Leopardi; presenti Monaldo e Adelaide, genitori di Giacomo. All'interno della chiesa, ai lati, poco prima
    dell'altare, spiccano ancora le sedute della gentis Leopardae.


    <a data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="false"
      aria-controls="multiCollapseExample2">La chiesa di Santa Maria in Montemorello</a>
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <img style="width: 300px;" src="assets\images\Piazzuola del Sabato del villaggio_IGP0946 copia_DxOFP.jpg">
    </div>

    colpisce per il suo campanile, che presenta una forma poco usuale, ma l’interesse maggiore, per quello che attiene
    il nostro percorso è il fatto, scontato se vogliamo, che dal campanile udiamo scandire ogni quarto d'ora il tempo e,
    a vari intervalli, l'inizio della messa: questo suon dell’ora aveva nell’animo di Giacomo un riverbero particolare,
    un annuncio che il tempo passa e con esso fugge quell’entrar di giovinezza che a somigliar d’un lampo si dilegua.
    Occorre porre attenzione a questi particolari, iniziando fin da subito quel lavoro di immedesimazione senza del
    quale non riusciremo a cogliere la profondità del sentire del poeta. Il primo segno che è vinta la distrazione, è
    proprio una attenzione nuova ai rintocchi, come se questi fossero un’allerta, e poi discretamente, ma via via in
    modo sempre più chiaro, ci si accorgerà anche di quanto sia bella la produzione poetica leopardiana.
    Sull'altro lato della piazza di fronte al "palazzo natio" c’è la

    <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
      aria-controls="multiCollapseExample1">casa di "Silvia"</a>
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <img style="width: 300px;" src="assets\images\Giacomo-Leopardi-A-Silvia.jpg">
    </div>
    , Teresa Fattorini, figlia del cocchiere dei Leopardi, che morì giovane di tisi nel 1818 e che venne immortalata
    nella poesia A Silvia, composta a Pisa nel 1828. Il componimento, tutto concepito nel ricordo, è un ipotetico
    dialogo con la giovane, che Giacomo avrà forse visto o ascoltato a distanza, da dietro le sue finestre. È tra le
    poesie più conosciute perché ci sono ancora saggi insegnanti che la fanno imparare a memoria ed anche perché la sua
    musicalità la rende facile all’apprendimento. Per Leopardi il ricordo di Silvia è apertura al mistero, rimando alla
    trascendenza, estasi: la memoria è più potente dell’assenza, della morte di Silvia.
    Ai primi dell’Ottocento la casa dei Fattorini divideva il paese dalla campagna e col ciel sereno la vista era
    veramente sugli orti coltivati. Leopardi poteva vedere dal palazzo il mar da lungi e quindi il monte, una bellezza
    viva, espressa efficacemente dal verso lingua mortal non dice quel ch’io sentiva in seno. La Recanati dalla quale
    voleva fuggire è qui quasi trasfigurata per la potenza del pensiero che ritorna al passato. È questa un’esperienza
    comune a tutti: il ricordare dettagli del proprio vissuto che al momento sembrano secondari e che acquistano una
    luce nuova quando ritornano alla memoria. Il genio leopardiano rende questo esercizio sublime e ci lascia versi
    indimenticabili, eterni nel canto A Silvia, la cui struttura è data da sei domande sul senso dell’esistenza così
    urgenti negli anni della giovinezza.
    <p>
      Clicca sul libro per andare a leggere la poesia "A Silvia"
      <button class="button" (click)="searchByCapitolo(1)">
        <mat-icon>menu_book</mat-icon>
      </button>
    </p>
    <button class="button" style="float: right; margin-bottom: 10%" routerLink="/chiesa-dei-cappuccini"><mat-icon style="vertical-align: middle;">arrow_forward</mat-icon></button>
  </div>
</div>