<div class="container">
    <h1><i>Torre del Passero Solitario</i><br><button class="button" (click)="goBack()"
            style="vertical-align:middle"><span>
                <mat-icon>arrow_back</mat-icon>
            </span></button></h1>
    <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
        src="assets\images\La torre del passero solitario sovrasta il chiostro di S. Agostino_IGP1035 copia_DxOFP.jpg"
        alt="Card image cap">

    <div class="map-container" #map></div>
    <button class="button" style="color: red;" (click)="showMap()">Apri con maps</button>

    <div class="text">

        Dopo la tappa di San Vito riprendiamo via Roma che termina pochi metri più avanti allorché voltando a sinistra
        si fiancheggia la maestosa chiesa di Sant’Agostino, fino a giungere nell’angusto piazzale antistante l’ingresso
        della chiesa. Davanti a noi si staglia la torre dell’acquedotto comunale scambiata dai più per la

        <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
            aria-controls="multiCollapseExample1">Torre del passero solitario</a>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <img style="width: 300px;"
                src="assets\images\La torre del passero solitario sovrasta il chiostro di S. Agostino_IGP1035 copia_DxOFP.jpg">
        </div>

        che invece si trova all’interno del chiostro di Sant’Agostino il cui accesso non è immediatamente visibile al
        passante.
        Entriamo nel chiostro fortificato risalente al XIV secolo, sulle cui lunette sono visibili tracce di affreschi
        che risalgono alla seconda metà del 1400 e dove campeggia una torre che aveva in passato la copertura a forma
        conica, oggi crollata a causa di un fulmine: è questa la torre menzionata nel primo verso del canto Il passero
        solitario.
        <p>
            Clicca sul libro per andare a leggere "Il passero solitario"
            <button class="button" (click)="searchByCapitolo(10)">
                <mat-icon>menu_book</mat-icon>
            </button>
        </p>
        In questa poesia Leopardi fa una similitudine tra un passero, che aveva il suo nido sulla torre antica,
        e la sua esistenza. Leopardi dice che l’uccello non ha coscienza del proprio vivere e vola contento, così come
        la gioventù che si ritrova in paese per festeggiare il santo patrono. I ragazzi cercano compagnia, si vestono a
        festa, guardano e vengono guardati e il cor s’allegra perché spensierati godono dei doni della giovinezza. Il
        poeta invece è spettatore e senza motivo decide di essere strano cioè straniero. Sceglie la solitudine
        nonostante accusi il dolore di una esclusione senza ragione.
    </div>
    <button class="button" style="float: left; margin-bottom: 10%" routerLink="/via-roma">
        <mat-icon style="vertical-align: middle;">arrow_back</mat-icon>
    </button>
    <button class="button" style="float: right; margin-bottom: 10%" routerLink="/lettera-della-befana">
        <mat-icon style="vertical-align: middle;">arrow_forward</mat-icon>
    </button>
</div>