<div class="container">
    <h1><i>La vista sui Monti Azzurri</i><br><button class="button" (click)="goBack()"
            style="vertical-align:middle"><span>
                <mat-icon>arrow_back</mat-icon>
            </span></button></h1>
    <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
        src="assets\images\La campagna recanatese verso i monti azzurri_IGP0985 copia_DxOFP.jpg" alt="Card image cap">

    <div class="map-container" #map></div>
    <button class="button" style="color: red;" (click)="showMap()">Apri con maps</button>

    <div class="text">

        Facciamo pochi passi sulla stessa via per entrare nel boschetto del colle dell’Infinito. Il viale si snoda fra
        gli alberi secolari che si trovano sulla sinistra mentre a destra costeggiamo un alto muro di cinta. D’un tratto
        notiamo che il viale taglia ad angolo retto e in un varco improvviso appare una vista sulla campagna che cattura
        l'attenzione. Il panorama è quello tipico delle Marche, tutto collina e valli e Recanati a circa 300 metri
        d'altezza sul livello del mare non fa eccezione: il fronte ovest ha la vista sui monti Sibillini, i monti
        azzurri, da cui si vede Macerata, ma la cosa più bella è la campagna, ordinata dal lavoro degli agricoltori,
        nuova ad ogni stagione e variata. Ogni poggio è uno spettacolo in sé per forma e colore e geometria. “Distratti”
        da questa vista d’insieme quasi non ci accorgiamo della panchina solitaria, messa lì non a caso, che serve per
        prendere fiato, per respirare, in attesa che ci si inoltri nell’avventura degli uomini sensibili e immaginosi,
        quelli che si lasciano stupire dalla bellezza del creato e… immaginano.
        <br><i>
        Zibaldone 30 novembre 1828
        <br>
        All'uomo sensibile e immaginoso, che viva, come io sono vissuto gran tempo, sentendo di continuo ed immaginando,
        il mondo e gli oggetti sono in certo modo doppi. Egli vedrà cogli occhi una torre, una campagna; udrà cogli
        orecchi un suono d'una campana; e nel tempo stesso coll'immaginazione vedrà un'altra torre, un'altra campagna,
        udrà un altro suono. In questo secondo genere di obbietti sta tutto il bello e il piacevole delle cose. Trista
        quella vita (ed è pur tale la vita comunemente) che non vede, non ode, non sente se non che oggetti semplici,
        quelli soli di cui gli occhi, gli orecchi e gli altri sentimenti ricevono la sensazione.
        </i><br>
        Il passo è tratto dallo Zibaldone, il suo diario di pensieri, memorie, filosofia, e data 30 novembre 1828, 1a
        domenica dell'Avvento. Leopardi per lungo tempo datò i passi dello Zibaldone e le lettere ai familiari inserendo
        le ricorrenze religiose, indizio di quanto fosse in lui radicata l’educazione cattolica che pure avversava. Il
        Poeta in questo frammento sviluppa il geniale concetto degli oggetti doppi, vale a dire l’idea che la realtà
        possa essere segno, rimando ad altro. Per Giacomo la realtà sperimentabile è “rimando” perché il guardare la
        campagna, una torre, il sentire il suono di una campana sono condizioni sufficienti, e potenti, per mettere in
        moto l’immaginazione.
    </div>
    <button class="button" style="float: left; margin-bottom: 10%" routerLink="/monte-tabor">
        <mat-icon style="vertical-align: middle;">arrow_back</mat-icon>
    </button>
    <button class="button" style="float: right; margin-bottom: 10%" routerLink="/il-colle-dell-infinito">
        <mat-icon style="vertical-align: middle;">arrow_forward</mat-icon>
    </button>
</div>