.sidenav-container {
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  bottom: 0;
}
.sidenav {
  width: 25%;
}
.sidenav .mat-toolbar {
  background: rgb(54, 51, 51);
}
.mat-toolbar.mat-primary {
  background-color: rgb(54, 51, 51);
  position: sticky;
  top: 0;
  z-index: 1;
}
.uptitle{
  font-size: x-large;
  text-align: center;
}

@media all and (max-width: 500px) {
  .sidenav-container {
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    bottom: 0;
  }
  .sidenav {
    width: 100%;
  }
  .sidenav .mat-toolbar {
    background: rgb(54, 51, 51);
  }
  .mat-toolbar.mat-primary {
    background-color: rgb(54, 51, 51);
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .uptitle{
    font-size: smaller;
    text-align: center;
  }
}


.bgmycolor{

  background-color: #007bff;
  color: antiquewhite;
  
    }
  
    .btnblue{
  
   border-color: #007bff;
      color: #007bff;
      background-color: #ffffff00;
  
    }
    .btnblue:hover {
  
      background-color:#007bff;
      color: rgb(250, 250, 250);
    }
  
  
    .btnwhite{
  
      border-color: #ffffff;
      color: #ffffff;
      background-color:#007bff;
  
    }
    .btnwhite:hover {
  
      background-color:#ffffff;
      color: #007bff;
    }
    .btnyellow{
  
      border-color: #ffc107;
      color: black;
      background-color:#ffc107;
  
    }   
    
     .btnyellow:hover,a {
      border-color: #ffc107;
  
      background-color:#ffffff00;
     color: #ffc107;
    } 
