<nav class=" navbar navbar navbar-expand-md navbar-dark"
  style="background-color: #007bff!important;" role="navigation">

  <!-- navbar navbar-expand-lg navbar-light bg-light -->

  <!-- <nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">Fixed bottom</a>
  </nav> -->


  <a class="navbar-brand" routerLink="/home">
    <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="40"
      style="margin-right:5px;" class="d-inline-block" alt="">
    Padel Team Torresi
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarNavDropdown">
    <ul class="navbar-nav bd-navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Info
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">


          <a class="dropdown-item" routerLink="/chi-siamo">
            Chi
            siamo
          </a>

          <a class="dropdown-item" routerLink="/bacheca-eventi">
            Bacheca
            Eventi
          </a>

          <a class="dropdown-item" routerLink="/contatti">
            Contatti
          </a>

          <a class="dropdown-item" routerLink="/mappa">
            Percorso
          </a>



          <a class="dropdown-item" routerLink="/prenotazione-visita">
            Prenota una
            Visita
          </a>

        </div>


      </li>


      <li class="nav-item">
        <a class="nav-link" routerLink="/tariffa">
          Le nostre
          tariffe
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/socio">
          Diventa un socio
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link active" routerLink="/prenotazione-campo">
          Prenota il Campo
          <span class="sr-only">(current)</span>
        </a>
      </li>

    </ul>



  </div>
  <div class="d-flex flex-row-reverse">
    <button class="btn  btn-outline-warning" *ngIf="!visitor && !admin"  routerLink="/login">
      Login
    </button>
    <a *ngIf="visitor" style="color: yellow;" routerLink="/scelta-utente">
      {{ utente.name
      }}
    </a>

    <a *ngIf="admin" style="color: yellow;" routerLink="/scelta-utente">
      {{ utente.name }}

    </a>

    <button class="btn btn-light btn-outline-warning" (click)="logOut()" *ngIf="visitor || admin" >
      Log out
    </button>
  </div>

</nav>






<!-- 

<mat-sidenav-container class="sidenav-container">





  <mat-sidenav #drawer class="sidenav" fixedInViewport #sidenav (click)="sidenav.toggle()"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="color: white;">Menù</mat-toolbar>
    <mat-nav-list>
      <a style="color: red;"   routerLinkActive="active" (click)="onSidenavClose()">
        home Home</span>
      </a> -->








<!-- <a  routerLink="/poesia">queue_music Testi del Percorso Leopardiano</span></a> -->

<!-- <a  routerLink="/poesia-specifica">search Cerca un testo Leopardiano</span></a> -->


<!-- </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <span style="margin-left: 10px;"><i class="uptitle">Centro Culturale Giacomo Leopardi</span>

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu
      </button>
    </mat-toolbar>

  </mat-sidenav-content>

</mat-sidenav-container> -->