.container {
  margin-top: 20px;
  margin-bottom: 10%;
}
pre {
  line-height: 30px;
  text-align: center;
  font-size: medium;
  margin-top: auto;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}
h1 {
  font-size: xx-large;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.button {
  /* background-color: white; */
  margin-left: 5px;
  /* color: black;
        border: 2px solid #4CAF50; Green */
  color: #4CAF50;
  padding: 0;
  border: none;
  background: none;
}
.buttonClicked {
  /* background-color: white; */
  margin-left: 5px;
  /* color: black;
        border: 2px solid #4CAF50; Green */
  color: #4CAF50;
  padding: 0;
  background: #4caf4f56;
  border-radius: 100%;
}
.button1 {
  /* background-color: white; */
  margin-left: 5px;
  /* color: black; */
  /* border: 2px solid #f8f32b; giallo zolfo */
  color: #f8f32b;
  padding: 0;
  border: none;
  background: none;
}
.button1Clicked {
  /* background-color: white; */
  margin-left: 5px;
  /* color: black;
        border: 2px solid #4CAF50; Green */
  color: #f8f32b;
  padding: 0;
  background: #f8f52b60;
  border-radius: 100%;
}

@media all and (max-width: 500px) {
    .container {
      margin-top: 20px;
      margin-bottom: 10%;
    }
    pre {
      line-height: 30px;
      text-align: center;
      font-size: medium;
      margin-top: auto;
      font-style: italic;
      font-family: 'Times New Roman', Times, serif;
    }
    h1 {
      font-size: xx-large;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
    }
    .button {
      /* background-color: white; */
      margin-left: 5px;
      /* color: black;
            border: 2px solid #4CAF50; Green */
      color: #4CAF50;
      padding: 0;
      border: none;
      background: none;
    }
    .buttonClicked {
      /* background-color: white; */
      margin-left: 5px;
      /* color: black;
            border: 2px solid #4CAF50; Green */
      color: #4CAF50;
      padding: 0;
      background: #4caf4f56;
      border-radius: 100%;
    }
    .button1 {
      /* background-color: white; */
      margin-left: 5px;
      /* color: black; */
      /* border: 2px solid #f8f32b; giallo zolfo */
      color: #f8f32b;
      padding: 0;
      border: none;
      background: none;
    }
    .button1Clicked {
      /* background-color: white; */
      margin-left: 5px;
      /* color: black;
            border: 2px solid #4CAF50; Green */
      color: #f8f32b;
      padding: 0;
      background: #f8f52b60;
      border-radius: 100%;
    }
  }