<div class="container">
    <h1><i>Colle dell'Infinito</i><br><button class="button" (click)="goBack()" style="vertical-align:middle"><span>
                <mat-icon>arrow_back</mat-icon>
            </span></button></h1>
    <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
        src="assets\images\Dal Colle dell_infinito la Torre del Borgo_IGP1003 copia_DxOFP.jpg" alt="Card image cap">

    <div class="map-container" #map></div>
    <button class="button" style="color: red;" (click)="showMap()">Apri con maps</button>

    <div class="text">

        Con ancora negli occhi e nell'animo lo stupore della natura all’orizzonte, prendiamo un sentiero un po’
        tortuoso, sterrato e stretto che, se si è in gruppo, occorre percorrere in fila indiana. La via è delimitata a
        destra ancora dall’alto muro, antico, di mattoni a faccia vista e a sinistra, da una siepe continua di cipressi.
        È la siepe […] che il guardo esclude. Dopo aver percorso una cinquantina di metri, arriviamo ad uno spazio
        piano, come un altare, su cui campeggia nel muro la scritta sempre caro mi fu quest'ermo colle. È il

        <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
            aria-controls="multiCollapseExample1">Colle dell'Infinito</a>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <img style="width: 300px;" src="assets\images\Il colle dell_Infinito_IGP0987 copia_DxOFP.jpg">
        </div>

        con alberi alti che lasciano intravedere gli Appennini, i monti azzurri e a nord l'abitato cittadino, quasi
        coperto alla vista dagli alberi, dove appare, tra due grandi rami, la torre del borgo. Spesso giunge un vento
        leggero che sentiamo stormire tra queste piante. È un luogo di pace ben descritto ne L’Infinito, certamente la
        poesia più conosciuta di Leopardi, il quale, in una felice contraddizione, ci fa accorgere della positività del
        limite: la siepe che esclude il guardo è impedimento che permette di risvegliare il desiderio de l'eterno.

        <p>
            Clicca sul libro per andare a leggere la poesia "L'infinito"
            <button class="button" (click)="searchByCapitolo(7)">
                <mat-icon>menu_book</mat-icon>
            </button>
        </p>

        Mentre ancora con gli occhi scorriamo le parole de l’Infinito cercando spunti sfuggiti alla prima o ennesima
        lettura, giunge all'improvviso il "suon dell'ora dalla torre del borgo". Leopardi è poeta della memoria, non
        scrive d’istinto, ma descrive ricordi del passato in cui la memoria è pura presenza di quello che, caduco e
        mortale nel tempo, si fa ora presente e divino nello spirito: ecco allora che nella sua coscienza tutto diviene
        immortale e si salva, come il suon dell’ora così gli assidui terrori. Il canto viene composto nel 1829 a
        Recanati dove il poeta rivive l’esperienza dell’infanzia, quando fanciullo, di notte, temeva il buio e anelando
        il mattino trovava conforto ascoltando i rintocchi dell’orologio della torre cittadina.<br>

        <b style="color: red; text-transform: uppercase;">non seguire le indicazioni di maps ma percorrere il vialone
            del colle dell'infinito fino all'ingresso di Porta Nuova</b>

        <p>
            Clicca sul libro per andare a leggere la poesia "Le ricordanze VV 50-70"
            <button class="button" (click)="searchByCapitolo(7)">
                <mat-icon>menu_book</mat-icon>
            </button>
        </p>
        <button class="button" style="float: left; margin-bottom: 10%" routerLink="/vista-monti-azzurri">
            <mat-icon style="vertical-align: middle;">arrow_back</mat-icon>
        </button>
        <button class="button" style="float: right; margin-bottom: 10%" routerLink="/casa-adelaide-antici">
            <mat-icon style="vertical-align: middle;">arrow_forward</mat-icon>
        </button>
    </div>
</div>