
.bgmycolor{

    background-color: #007bff!important;
    color: antiquewhite;
    
      }
    
      .btnblue{
    
     border-color: #007bff!important;
        color: #007bff!important;
        background-color: #ffffff00!important;
    
      }
      .btnblue:hover {
    
        background-color:#007bff!important;
        color: rgb(250, 250, 250)!important;
      }
    
    
      .btnwhite{
    
        border-color: #ffffff!important;
        color: #ffffff!important;
        background-color:#007bff!important;
    
      }
      .btnwhite:hover {
    
        background-color:#ffffff!important;
        color: #007bff!important;
      }
      .btnyellow{
    
        border-color: #ffc107!important;
        color: black!important;
        background-color:#ffc107!important;
    
      }   
      
       .btnyellow:hover,a {
        border-color: #ffc107!important;
    
        background-color:#ffffff00!important;
       color: #ffc107!important;
      } 

      .custom-day {
        text-align: center;
        padding: 0.185rem 0.25rem;
        display: inline-block;
        height: 2rem;
        width: 2rem;
      }
      .custom-day.focused {
        background-color: #e6e6e6;
      }
      .custom-day.range, .custom-day:hover {
        background-color: rgb(2, 117, 216);
        color: white;
      }
      .custom-day.faded {
        background-color: rgba(2, 117, 216, 0.5);
      }
