<div *ngIf="visitor" class="container" style="text-align-last: center; margin-top: 20px;">
<p>Example of the range selection</p>

<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"[dayTemplate]="t" outsideDays="hidden" [markDisabled]="isDisabled">
</ngb-datepicker>

<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.isDisabled]="isDisabled(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>
</div>

<div *ngIf="!visitor" class="container" style="text-align-last: center; margin-top: 20px;">
  <p>Attualmente non sei loggato</p>
<button class="btn btn-primary" routerLink="/login"> Vai al login </button>
</div>