<div class="container" style=" height: 780px;">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>Inserisci la tua Email per reimpostare la password</b></h5>

                    <form class="form-signin">
                        <div class="form-label-group">
                            <p style="color:rgb(184, 17, 17);">Email</p>
                            <input type="username" name="username" [(ngModel)]="username" id="inputUsername"
                                class="form-control" placeholder="Email address" required autofocus>
                            <label for="inputUsername"></label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)=resetPassword() type="submit">Invia</button>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>