<div class="container">
    <h1><i>Casa di Adelaide Antici</i><br><button class="button" (click)="goBack()" style="vertical-align:middle"><span>
                <mat-icon>arrow_back</mat-icon>
            </span></button></h1>
    <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
        src="assets\images\Casa di Adelaide Antici_IGP1012 copia_DxOFP.jpg" alt="Card image cap">

    <div class="map-container" #map></div>
    <button class="button" style="color: red;" (click)="showMap()">Apri con maps</button>


    <div class="text">

        Percorriamo ora l’ampio viale che conduce all’uscita del parco, ci immettiamo per un brevissimo tratto sulla
        statale, per entrare poi tramite Porta Nuova, nell’abitato cittadino. Superata Porta Nuova, svoltando a
        sinistra, ci imbattiamo in uno spazio che sembra una piccola piazza: è l’atrio delle scuderie degli Antici, la
        famiglia di Adelaide, la madre di Giacomo. Sul lato opposto, senza cura,

        <a data-toggle="collapse" href="#multiCollapseExample3" aria-expanded="false"
            aria-controls="multiCollapseExample3">sta il palazzo Antici-Mattei</a>
        <div class="collapse multi-collapse" id="multiCollapseExample3">
            <img style="width: 300px;" src="assets\images\Le scuderie di casa Antici_IGP1010 copia_DxOFP.jpg">
        </div>

        del XVI secolo nella cui galleria si sposarono Monaldo e Adelaide. Qui si può sostare più a lungo per parlare di
        Monaldo, Adelaide e del decisivo influsso che la famiglia ebbe sulle sorti umane di Giacomo.
        Adelaide, rigorosa credente e fredda negli affetti nei confronti dei figli e del marito, ebbe un ruolo decisivo
        nella impostazione caratteriale di Giacomo, il quale ebbe verso la madre un atteggiamento di distacco e quasi di
        soggezione.
        Su Monaldo è opportuno soffermarsi perché vale la pena conoscere alcuni flash della sua storia personale piena
        di tentativi economici fallimentari, carichi di conseguenze. Se Giacomo visse la sua esistenza nelle
        ristrettezze economiche lo si deve a suo padre il quale aveva un pessimo intuito per gli affari.
        Monaldo rischiò il fallimento. I creditori gli concessero fiducia ma lo espropriarono dall’amministrazione
        economica che venne affidata ad Adelaide la quale dal quel giorno divenne arida e pragmatica, preoccupata solo
        di far quadrare i conti. I rapporti tra i coniugi nel tempo si raffreddarono, come testimonia Monaldo nella sua
        autobiografia

        <p>
            Clicca sul libro per andare a leggere il testo "Monaldo Leopardi autobiografia "Matrimonio mio""
            <button (click)="searchByCapitolo(8)" class="button">
                <mat-icon>menu_book</mat-icon>
            </button>
        </p>
        <button class="button" style="float: left; margin-bottom: 10%" routerLink="/il-colle-dell-infinito">
            <mat-icon style="vertical-align: middle;">arrow_back</mat-icon>
        </button>
        <button class="button" style="float: right; margin-bottom: 10%" routerLink="/via-roma">
            <mat-icon style="vertical-align: middle;">arrow_forward</mat-icon>
        </button>
    </div>
</div>