.container {
  margin-top: 20px;
  margin-bottom: 10%;
}

.bottone-class {
  margin-top: 10px;
  font-size: 13px;
  margin-bottom: -20px;
}

.text {
  font-family: "Times New Roman", Times, serif;
  margin-top: 20px;
}

h1 {
  font-size: xx-large;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

p {
  text-align: center;
  font-size: x-large;
  margin-top: auto;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

pre {
  line-height: 30px;
  text-align: center;
  font-size: medium;
  margin-top: auto;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.button {
  margin-left: 5px;
  color: #4CAF50;
  padding: 0;
  border: none;
  background: none;
}

.buttonClicked {
  margin-left: 5px;
  color: #4CAF50;
  padding: 0;
  background: #4caf4f56;
  border-radius: 100%;
}

.button1 {
  margin-left: 5px;
  color: #f8f32b;
  padding: 0;
  border: none;
  background: none;
}

.button1Clicked {
  margin-left: 5px;
  color: #f8f32b;
  padding: 0;
  background: #f8f52b60;
  border-radius: 100%;
}

.arrow {
  border: solid #4CAF50;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.buttonCap {
  margin-left: 5%;
  vertical-align: middle;
  color: #4169e1;
  padding: 0;
  border: none;
  background: none;
}

.pMiddle {
  text-align: center;
}

img {
  width: 30%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media all and (max-width: 500px) {
  .container {
    margin-top: 20px;
    margin-bottom: 20%;
  }
  .overflow-auto {
    z-index: 0;
    width: responsive;
    height: 450px;
    box-shadow: 15px 15px 10px #dedede;
}
  .bottone-class {
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: -20px;
  }
  .text {
    font-family: "Times New Roman", Times, serif;
    margin-top: 20px;
  }
  h1 {
    font-size: 25px;
    text-align: center;
  }
  p {
    font-size: large;
    margin-top: auto;
    font-style: italic;
    text-align: center;
  }
  pre {
    line-height: 30px;
    text-align: center;
    font-size: medium;
    margin-top: auto;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
  }
  .button {
    margin-left: 5px;
    color: #4CAF50;
    padding: 0;
    border: none;
    background: none;
  }
  .buttonClicked {
    margin-left: 5px;
    color: #4CAF50;
    padding: 0;
    background: #4caf4f56;
    border-radius: 100%;
  }
  .button1 {
    margin-left: 5px;
    color: #f8f32b;
    padding: 0;
    border: none;
    background: none;
  }
  .button1Clicked {
    margin-left: 5px;
    color: #f8f32b;
    padding: 0;
    background: #f8f52b60;
    border-radius: 100%;
  }
  .arrow {
    border: solid #4CAF50;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  .buttonCap {
    margin-left: 5%;
    vertical-align: middle;
    color: #4169e1;
    padding: 0;
    border: none;
    background: none;
  }
  .pMiddle {
    text-align: center;
  }
  img {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
  }
}