<div class="container">

  <h1 style="margin-top: 5%;"><i>In questa pagina sono presenti i testi relativi ai punti di interesse del percorso
      Leopardiano.</i></h1>
    <div class="overflow-auto">
      <div class="card-body">
        <table class="table table-bordered table-striped" style="box-shadow: 15px 15px 10px #dedede;">

          <p style="margin-top: 5%;">Casa Leopardi</p>
          <p class="pMiddle">
            <button class="button" data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
              aria-controls="multiCollapseExample1" style="vertical-align:middle"><span>
                <mat-icon>menu_book</mat-icon>
              </span></button>
            <button (click)="searchByCapitolo(1)" class="buttonCap">
              <mat-icon>forward</mat-icon>
            </button>
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <p>Nel primo capitolo è presente la poesia "A Silvia"</p>
          </div>
          <img src="\assets\images\Casa Leopardi_IGP0936 copia_DxOFP.jpg" alt="CasaLeopardi">


          <p>Chiesa dei Cappuccini</p>
          <p class="pMiddle">
            <button class="button" data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="false"
              aria-controls="multiCollapseExample2" style="vertical-align:middle"><span>
                <mat-icon>menu_book</mat-icon>
              </span></button>
            <button (click)="searchByCapitolo(2)" class="buttonCap">
              <mat-icon>forward</mat-icon>
            </button>
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <p>Nel secondo capitolo è presente la poesia "Sopra il ritratto di una bella donna scolpito nel monumento
              sepolcrale
              della medesima"</p>
          </div>
          <img src="\assets\images\Chiesa dei Cappuccini_IGP0958 copia_DxOFP.jpg" alt="Chiesa dei Cappuccini">


          <p>Piazzuola del sabato del villaggio</p>
          <p class="pMiddle">
            <button class="button" data-toggle="collapse" href="#multiCollapseExample3" aria-expanded="false"
              aria-controls="multiCollapseExample3" style="vertical-align:middle"><span>
                <mat-icon>menu_book</mat-icon>
              </span></button>
            <button (click)="searchByCapitolo(3)" class="buttonCap">
              <mat-icon>forward</mat-icon>
            </button>
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample3">
            <p>Nel terzo capitolo capitolo è presente la poesia "Il sabato del villaggio"</p>
          </div>
          <img src="\assets\images\Piazzuola del Sabato del villaggio_IGP0946 copia_DxOFP.jpg"
            alt="Piazzuola del sabato del villaggio">

          <p>Centro Nazionale studi leopardiani</p>
          <p class="pMiddle">
            <button class="button" data-toggle="collapse" href="#multiCollapseExample8" aria-expanded="false"
              aria-controls="multiCollapseExample8" style="vertical-align:middle"><span>
                <mat-icon>menu_book</mat-icon>
              </span></button>
            <button (click)="searchByCapitolo(4)" class="buttonCap">
              <mat-icon>forward</mat-icon>
            </button>
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample8">
            <p>Nel quarto capitolo capitolo è presente "Pensiero LXVIII"</p>
          </div>
          <img src="\assets\images\06_Centro_Nazionale_Leopardi_2_copia_DxOFP.jpg" alt="Centro Nazionale">

          <p>Il Colle dell'Infinito </p>
          <p class="pMiddle">
            <button class="button" data-toggle="collapse" href="#multiCollapseExample4" aria-expanded="false"
              aria-controls="multiCollapseExample4" style="vertical-align:middle"><span>
                <mat-icon>menu_book</mat-icon>
              </span></button>
            <button (click)="searchByCapitolo(7)" class="buttonCap">
              <mat-icon>forward</mat-icon>
            </button>
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample4">
            <p>Nel settimo capitolo è presente la poesia "L'infinito" e la poesia "Le ricordanze"</p>
          </div>
          <img src="assets\images\Il colle dell_Infinito_IGP0987 copia_DxOFP.jpg" alt="L'infinito">

          <p>Casa di Adelaide Antici</p>
          <p class="pMiddle">
            <button class="button" data-toggle="collapse" href="#multiCollapseExample9" aria-expanded="false"
              aria-controls="multiCollapseExample9" style="vertical-align:middle"><span>
                <mat-icon>menu_book</mat-icon>
              </span></button>
            <button (click)="searchByCapitolo(8)" class="buttonCap">
              <mat-icon>forward</mat-icon>
            </button>
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample9">
            <p>Nell'ottavo capitolo è presente il testo di Monaldo</p>
          </div>
          <img src="assets\images\Le scuderie di casa Antici_IGP1010 copia_DxOFP.jpg" alt="Scuderie Antici">

          <p>Via Roma: desiderio irrefrenabile dell'infinito</p>
          <p class="pMiddle">
            <button class="button" data-toggle="collapse" href="#multiCollapseExample10" aria-expanded="false"
              aria-controls="multiCollapseExample10" style="vertical-align:middle"><span>
                <mat-icon>menu_book</mat-icon>
              </span></button>
            <button (click)="searchByCapitolo(9)" class="buttonCap">
              <mat-icon>forward</mat-icon>
            </button>
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample10">
            <p>Nel nono capitolo è presente il testo di Ungaretti</p>
          </div>
          <img src="assets\images\Via Roma_2_IGP1015 copia_DxOFP.jpg" alt="Via Roma">

          <p>La torre del passero solitario</p>
          <p class="pMiddle">
            <button class="button" data-toggle="collapse" href="#multiCollapseExample5" aria-expanded="false"
              aria-controls="multiCollapseExample5" style="vertical-align:middle"><span>
                <mat-icon>menu_book</mat-icon>
              </span></button>
            <button (click)="searchByCapitolo(10)" class="buttonCap">
              <mat-icon>forward</mat-icon>
            </button>
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample5">
            <p>Nel decimo capitolo capitolo è presente la poesia "Il passero solitario"</p>
          </div>
          <img
            src="\assets\images\La torre del passero solitario sovrasta il chiostro di S. Agostino_IGP1035 copia_DxOFP.jpg"
            alt="Torre del passero solitario">

          <p>La lettera della befana</p>
          <p class="pMiddle">
            <button class="button" data-toggle="collapse" href="#multiCollapseExample8" aria-expanded="false"
              aria-controls="multiCollapseExample8" style="vertical-align:middle"><span>
                <mat-icon>menu_book</mat-icon>
              </span></button>
            <button (click)="searchByCapitolo(11)" class="buttonCap">
              <mat-icon>forward</mat-icon>
            </button>
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample8">
            <p>Nell'undicesimo capitolo è presente la lettera alla Marchesa Roberti </p>
          </div>
          <img style="height: 120px;" src="assets\images\Palazzo Carancini_Roberti_IGP1042 copia_DxOFP.jpg" alt="Lettera Alla Befana">


          <p>Palazzo Venieri</p>
          <p class="pMiddle">
            <button class="button" data-toggle="collapse" href="#multiCollapseExample6" aria-expanded="false"
              aria-controls="multiCollapseExample6" style="vertical-align:middle"><span>
                <mat-icon>menu_book</mat-icon>
              </span></button>
            <button (click)="searchByCapitolo(12)" class="buttonCap">
              <mat-icon>forward</mat-icon>
            </button>
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample6">
            <p>Nel dodicesimo capitolo capitolo è presente la poesia "Alla sua donna"</p>
          </div>
          <img src="\assets\images\Palazzo Venieri_IGP1050_DxOFP.JPG" alt="Palazzo Venieri">

          <p>Piazza della torre del borgo </p>
          <p class="pMiddle">
            <button class="button" data-toggle="collapse" href="#multiCollapseExample7" aria-expanded="false"
              aria-controls="multiCollapseExample7" style="vertical-align:middle"><span>
                <mat-icon>menu_book</mat-icon>
              </span></button>
            <button (click)="searchByCapitolo(13)" class="buttonCap">
              <mat-icon>forward</mat-icon>
            </button>
          </p>
          <div class="collapse multi-collapse" id="multiCollapseExample7">
            <p>Nel dodicesimo capitolo capitolo sono presenti le poesie "La sera del dì di festa", "Il risorgimento",
              "Canto notturno di un pastore dell'Asia", "Il pensiero dominante", "A se stesso",
              "La ginestra, o fiore del deserto", "Contro la minestra"</p>
          </div>
          <img src="\assets\images\Piazza della torre del Borgo con la statua di G. Leopardi._IGP1059_DxOFP.JPG"
            alt="Piazza Torre del borgo">
        </table>
      </div>
    </div>
</div>