<div class="container">
  <h1><i>Piazzuola del Sabato del Villaggio</i><br><button class="button" (click)="goBack()"
      style="vertical-align:middle"><span>
        <mat-icon>arrow_back</mat-icon>
      </span></button></h1>
  <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
    src="assets\images\Piazzuola del Sabato del villaggio_IGP0946 copia_DxOFP.jpg" alt="Card image cap">

  <div class="map-container" #map></div>
  <button class="button" style="color: red;" (click)="showMap()">Apri con maps</button>

  <div class="text">
    Ritornando sui propri passi verso la

    <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
      aria-controls="multiCollapseExample1">Piazzuola del Sabato del Villaggio</a>
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <img style="width: 300px;margin-bottom: 30px;"
        src="assets\images\Chiesa S.Maria.jpg">
    </div>
    , i più riandranno ai ricordi scolastici e al volto della maestra, l’antica e cara maestra, la quale spiegava i
    versi che da questa piazza prendono spunto. La nota poesia è stata composta nel settembre del 1829, negli ultimi
    mesi di permanenza del poeta nel natio borgo selvaggio, luogo che dal 29 aprile del 1830 non rivedrà mai più.
    Recanati è per Giacomo la terra dalla quale fuggire e nella quale voler sempre ritornare, il paese odiato e nel
    contempo desiderato: sentimenti che appartengono all’uomo mai naturalizzato in luogo alcuno, all’uomo “senza
    patria”.
    Qui può capitare, agli estremi del giorno, specialmente nelle stagioni fredde, di camminare in solitudine, senza il
    rumore delle auto che circolano. Ci si trova allora immersi nel silenzio e in una illuminazione soffusa, dove con
    l’immaginazione è possibile vedere la donzelletta che vien dalla campagna in sul calar del sole […] o la
    vecchierella che siede con le vicine su la scala a filare. Ci si sorprende di non essersi accorti prima, che ci sono
    anche i fanciulli che gridando su la piazzuola in frotta, e qua e là saltando, fanno un lieto romore mentre riede
    alla sua parca mensa, fischiando, il zappatore.
    <p>
      Clicca sul libro per andare a leggere la poesia "Il sabato del villaggio"
      <button class="button" (click)="searchByCapitolo(3)">
        <mat-icon>menu_book</mat-icon>
      </button>
    </p>
    <button class="button" style="float: left; margin-bottom: 10%" routerLink="/chiesa-dei-cappuccini"><mat-icon style="vertical-align: middle;">arrow_back</mat-icon></button>
    <button class="button" style="float: right; margin-bottom: 10%" routerLink="/centro-nazionale-studi-leopardiani"><mat-icon style="vertical-align: middle;">arrow_forward</mat-icon></button>
  </div>
</div>