<div class="container">
    <h1><i>Scopri le nostre tariffe</i></h1>
    <p>
        Nella tabella che troverai qui sotto potrai scoprire tutte le tariffe calcolate in base al numero dei
        partecipanti.
    </p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Numero partecipanti</th>
                <th scope="col">Prezzo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1-5</th>
                <td>50 €</td>
            </tr>
            <tr>
                <th scope="row">6-10</th>
                <td>75 €</td>
            </tr>
            <tr>
                <th scope="row">11-20</th>
                <td>100 €</td>
            </tr>
            <tr>
                <th scope="row">21-30</th>
                <td>150 €</td>
            </tr>
            <tr>
                <th scope="row">oltre 31</th>
                <td>Chiamare
                    <br>
                    320 3077716
                </td>
            </tr>
        </tbody>
    </table>
</div>