.container {
    margin-top: 20px;
    margin-bottom: 10%;
    text-align: center;
}

h1 {
    font-family: "Times New Roman", Times, serif;
}

h3 {
    font-family: "Times New Roman", Times, serif;
}

h4 {
    font-family: "Times New Roman", Times, serif;
}

@media all and (max-width: 500px) {
    .h1 {
        font-family: "Times New Roman", Times, serif;
        text-align: center;
        font-size: large;
    }
    .container {
        margin-top: 20px;
        margin-bottom: 10%;
    }
    h3 {
        font-family: "Times New Roman", Times, serif;
    }
    h4 {
        font-family: "Times New Roman", Times, serif;
    }
}