<div class="container">
  <h1><i>Monte Tabor</i><br><button class="button" (click)="goBack()" style="vertical-align:middle"><span>
        <mat-icon>arrow_back</mat-icon>
      </span></button></h1>
  <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
    src="assets\images\07_Verso_il_monte_tabor_DxOFP.jpg" alt="Card image cap">

  <div class="map-container" #map></div>
  <button class="button" style="color: red;" (click)="showMap()">Apri con maps</button>

  <div class="text">

    Ora ci inoltriamo verso la sommità del colle dell’Infinito, tenendo a mente l’indicazione di metodo iniziale, quella
    cioè di guardare con attenzione ciò che c’è - il viale, gli alberi, la siepe, il muro, la campagna, la torre, le
    case, i monti, i colori, il cielo - e ascoltare l'eco delle cose - lo scricchiolio dei sassi sotto i piedi, una
    campana, il vento tra gli alberi, il silenzio interrotto, lo "stormire" degli uccelli - affinché l’immedesimazione
    con Leopardi acquisti spessore e si percepisca il senso della "sublimità del sentire".
    Lasciato il CNSL, dopo pochi passi troviamo, a destra, delle


    <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
      aria-controls="multiCollapseExample1">pietre simbolicamente ricomposte </a>
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <img style="width: 300px;margin-bottom: 30px;" src="assets\images\07_Verso_il_monte_tabor_DxOFP.jpg">
    </div>

    che provengono dall'originaria tomba del poeta, sepolto nel 1837 nella chiesa di San Vitale presso Fuorigrotta a
    Napoli. Leopardi morì a 39 anni in un periodo in cui il colera stava colpendo la città che lo ospitava, ma la causa
    del suo decesso non è chiara e comunque indipendente dal morbo. Varie le ipotesi: tra le più accreditate c'è quella
    che parla dell'infiammazione del pericardio che avrebbe stressato il cuore di Giacomo tanto da condurlo alla morte,
    o l'altra - tratta dal referto ufficiale - di idropisia polmonare, causata dai problemi respiratori dovuti alla
    deformazione della colonna vertebrale. Il 21 luglio del 1900 venne ispezionata la tomba e poiché tra i frammenti
    trovati mancava il cranio, subito sorsero dubbi sull’autenticità delle spoglie. I frammenti ossei vennero ricomposti
    e oggi si trovano nel Parco Vergiliano a Piedigrotta nel quartiere Mergellina del capoluogo campano. È probabile che
    quelle ossa non appartengano però a Leopardi e, quasi a conferma di questa dissonanza tomba-corpo, i più qui passano
    distrattamente.
  </div>
  <button class="button" style="float: left; margin-bottom: 10%" routerLink="/centro-nazionale-studi-leopardiani">
    <mat-icon style="vertical-align: middle;">arrow_back</mat-icon>
  </button>
  <button class="button" style="float: right; margin-bottom: 10%" routerLink="/vista-monti-azzurri">
    <mat-icon style="vertical-align: middle;">arrow_forward</mat-icon>
  </button>
</div>