<div class="container">
    <h1><i>La lettera alla Befana</i><br><button class="button" (click)="goBack()" style="vertical-align:middle"><span>
                <mat-icon>arrow_back</mat-icon>
            </span></button></h1>
    <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
        src="assets\images\Palazzo Carancini_Roberti_IGP1042 copia_DxOFP.jpg" alt="Card image cap">

    <div class="map-container" #map></div>
    <button class="button" style="color: red;" (click)="showMap()">Apri con maps</button>

    <div class="text">

        Usciamo dal complesso monastico degli agostiniani e ci dirigiamo verso il centro-città ma, appena giriamo
        l’angolo, se non siamo distratti e la stanchezza del percorso fin qui fatto non prende il sopravvento, ci
        accorgiamo, sulla destra, della presenza di un grande edificio di particolare valore storico e architettonico, è

        <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
            aria-controls="multiCollapseExample1">palazzo Caracini - Roberti"</a>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <img style="width: 300px;" src="assets\images\Palazzo Carancini_Roberti_IGP1042 copia_DxOFP.jpg">
        </div>

        del XVII secolo, con un atrio di ingresso e una maestosa scala. Quasi in mezzo alla strada, disturbati dalle
        auto, in una zona dove per sorte la via si restringe, tentiamo, come abbiamo fatto in precedenza arrivando alla
        chiesa di San Vito, di ritornare con l’immaginazione al 1810 quando Monaldo, “fuggendo” da casa propria,
        accompagnato dai figli maggiori, faceva “salotto” a casa della marchesa Volunnia Roberti, donna colta e
        dinamica, che riuniva amici con i quali giocava a carte, a scacchi e più in generale faceva conversazione sui
        “tempi attuali”. Col pensiero già vediamo questo gruppo di nobili recanatesi ben vestiti - Monaldo andava sempre
        di nero - nell’ampio salone pieno di quadri e arazzi, ognuno col suo bicchierino di rosolio. Giacomo mangiava i
        pasticcini e riordinava i libri. Esiste una lettera che il nostro a 12 anni scrive a nome della befana,
        accompagnatoria di dolciumi natalizi e bagatelle che la famiglia Leopardi aveva preparato per i ragazzi che, con
        i genitori, si trovavano a frequentare casa Roberti. La lettera ci presenta un Giacomo ironico e pungente, nuovo
        rispetto all’etichetta stereotipata veicolata in tante aule scolastiche. Leggiamola tutta:<br>
        <p>
            Clicca sul libro per andare a leggere la lettera della befana
            <button class="button" (click)="searchByCapitolo(11)">
                <mat-icon>menu_book</mat-icon>
            </button>
        </p>
        <button class="button" style="float: left; margin-bottom: 10%" routerLink="/torre-passero-solitario">
            <mat-icon style="vertical-align: middle;">arrow_back</mat-icon>
        </button>
        <button class="button" style="float: right; margin-bottom: 10%" routerLink="/palazzo-venieri">
            <mat-icon style="vertical-align: middle;">arrow_forward</mat-icon>
        </button>
    </div>
</div>