<div class="container">
    <h1><i>Via Roma</i><br><button class="button" (click)="goBack()" style="vertical-align:middle"><span>
                <mat-icon>arrow_back</mat-icon>
            </span></button></h1>
    <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
        src="assets\images\Via Roma_IGP1017 copia_DxOFP.jpg" alt="Card image cap">

    <div class="map-container" #map></div>
    <button class="button" style="color: red;" (click)="showMap()">Apri con maps</button>

    <div class="text">
        Percorrendo via Roma in direzione centro-città è opportuno citare l’esperienza vissuta da Giuseppe Ungaretti nel
        1950 quando ebbe l’occasione di essere ospite della famiglia Leopardi e di soggiornarvi alcuni giorni:

        <p>
            Clicca sul libro per andare a leggere il testo di "Giuseppe Ungaretti Il discorso sopra Leopardi"
            <button class="button" (click)="searchByCapitolo(9)">
                <mat-icon>menu_book</mat-icon>
            </button>
        </p>

        Proseguendo ora lungo la

        <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
            aria-controls="multiCollapseExample1">via lastricata dai sampietrini</a>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <img style="width: 300px;" src="assets\images\Via Roma_IGP1017 copia_DxOFP.jpg">
        </div>

        immaginiamoci un piccolo consesso formato da Monaldo, Giacomo e i fratelli Carlo e Paolina che fanciulli si
        recavano nella

        <a data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="false"
            aria-controls="multiCollapseExample2">Chiesa di San Vito</a>
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <img style="width: 300px;" src="assets\images\chiesa di S.vito.jpg">
        </div>

        che troviamo alla fine della via, sulla destra, annunciata da un ampio piazzale. Il portale, imponente e bello,
        è del Vanvitelli che lo realizzò nel 1748. In questa chiesa grazie all’opera del Collegio per l’Istruzione della
        Gioventù sorgono a Recanati Pie congregazioni dei Nobili, degli Artisti e degli Agricoltori con sede in una
        cappellina all’interno della chiesa spesso chiusa al pubblico. Nella

        <a data-toggle="collapse" href="#multiCollapseExample3" aria-expanded="false"
            aria-controls="multiCollapseExample3">Congregazione dei Nobili</a>
        <div class="collapse multi-collapse" id="multiCollapseExample3">
            <img style="width: 300px;" src="assets\images\Cappella oratorio dei nobili.png">
        </div>

        , nel nostro “vago immaginare” vediamo Giacomo recitare alcuni dei suoi lavori sotto lo sguardo compiaciuto di
        Monaldo: Per il Santo Natale, I pastori che scambievolmente s’invitano per adorare il nato bambino del 1809,
        Poesia per il giorno delle Ceneri nel 1810, Il trionfo della Croce nel 1812, la Crocefissione e morte di Cristo
        nel 1814, La Flagellazione e la Condanna e viaggio del Redentore al Calvario.

    </div>
    <button class="button" style="float: left; margin-bottom: 10%" routerLink="/casa-adelaide-antici">
        <mat-icon style="vertical-align: middle;">arrow_back</mat-icon>
    </button>
    <button class="button" style="float: right; margin-bottom: 10%" routerLink="/torre-passero-solitario">
        <mat-icon style="vertical-align: middle;">arrow_forward</mat-icon>
    </button>
</div>