.container {
    margin-bottom: 10%;
    text-align: -webkit-center;
    margin-top: 10px;
}

.title {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.info {
    margin: 5% 5% 5% 5%;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.ermocolle {
    margin-top: 5%;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    line-height: 200%;
}

.img {
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
}

@media all and (max-width: 500px) {
    .container {
        margin-bottom: 10%;
        text-align: -webkit-center;
        margin-top: 10px;
    }
    .title {
        font-size: xx-large;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }
    .info {
        margin: 5% 5% 5% 5%;
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
    }
    .ermocolle {
        margin-top: 5%;
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        font-style: italic;
        line-height: 200%;
    }
    .img {
        margin-top: 5%;
        margin-bottom: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 130px;
    }
}