<div class="container">

    <h1 class="title"><b><i>Informazioni Coockie <br> Giacomo Leopardi APP</i></b></h1>

    <div class="card my-5">
        <div class="overflow-auto">
            <div class="card-body">
                <table class="table table-bordered table-striped" style="box-shadow: 15px 15px 10px #dedede;">

                    <p class="info">
                        Qui inserire le condizioni che servono al tizio per informarsi sui coockie
                    </p>

                    <p class="ermocolle">"Sempre caro mi fu quest’ermo colle,<br>E questa siepe, che da tanta
                        parte<br>Dell’ultimo
                        orizzonte il guardo
                        esclude."</p>

                    <img class="img" src="\assets\images\LogoCentroCulturaleGL.png">

                </table>
            </div>
        </div>
    </div>
</div>