<div *ngIf="admin" class="container">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
    <h1>Lista degli utenti registrati</h1>

    <div class="card my-5" style="height: 350px;">
        <h1 style="margin-top: 5%; color: red;">Tabella Admin</h1>
        <div class="overflow-auto">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class=".table-bordered">
                            <tr style="color: red;">
                                <th scope="col">Email</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Cognome</th>
                                <th scope="col">Cellulare</th>
                                <th scope="col">Azione</th>
                                <th scope="col">Ruolo</th>
                            </tr>
                        </thead>
                        <tbody class=".table-bordered">
                            <tr *ngFor="let u of utente">
                                <td *ngIf="u.roles[0].description == 'ADMIN'">{{ u.username }}</td>
                                <td *ngIf="u.roles[0].description == 'ADMIN'">{{ u.name }}</td>
                                <td *ngIf="u.roles[0].description == 'ADMIN'">{{ u.lastname }}</td>
                                <td *ngIf="u.roles[0].description == 'ADMIN'">{{ u.cellulare }}</td>

                                <td *ngIf="u.roles[0].description == 'ADMIN'"><button>
                                        <mat-icon class="elimina" (click)="deleteUtente(u.id)">delete</mat-icon>
                                    </button>
                                </td>
                                <td *ngIf="u.roles[0].description == 'ADMIN'">{{ u.roles[0].description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card my-5">
        <h1 style="margin-top: 5%; color: red;">Tabella Utenti</h1>
        <div class="overflow-auto">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class=".table-bordered">
                            <tr style="color: red;">
                                <th scope="col">Email</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Cognome</th>
                                <th scope="col">Cellulare</th>
                                <th scope="col">Azione</th>
                                <th scope="col">Ruolo</th>
                            </tr>
                        </thead>
                        <tbody class=".table-bordered">
                            <tr *ngFor="let u of utente">
                                <td *ngIf="u.roles[0].description != 'ADMIN'">{{ u.username }}</td>
                                <td *ngIf="u.roles[0].description != 'ADMIN'">{{ u.name }}</td>
                                <td *ngIf="u.roles[0].description !='ADMIN'">{{ u.lastname }}</td>
                                <td *ngIf="u.roles[0].description != 'ADMIN'">{{ u.cellulare }}</td>
                                <td *ngIf="u.roles[0].description != 'ADMIN'"><button>
                                        <mat-icon class="elimina" (click)="deleteUtente(u.id)">delete</mat-icon>
                                    </button>
                                    <button>
                                        <mat-icon class="changeRole" (click)="cambiaRuolo(u.id)">person</mat-icon>
                                    </button>
                                </td>
                                <td *ngIf="u.roles[0].description != 'ADMIN'">{{ u.roles[0].description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>