<div class="container">
  <h1><i>Chiesa dei Cappuccini</i><br><button class="button" (click)="goBack()" style="vertical-align:middle"><span>
        <mat-icon>arrow_back</mat-icon>
      </span></button></h1>
  <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
    src="assets\images\Chiesa dei Cappuccini_IGP0958 copia_DxOFP.jpg" alt="Card image cap">

  <div class="map-container" #map></div>
  <button class="button" style="color: red;" (click)="showMap()">Apri con maps</button>

  <div class="text">
    Guardando la Chiesa di Montemorello, sulla destra c'è una breve via che ci permette di arrivare in pochi minuti alla

    <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
      aria-controls="multiCollapseExample1">chiesa porticata dei Cappuccini</a>
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <img style="width: 300px;margin-bottom: 30px;" src="assets\images\Chiesa dei Cappuccini_IGP0958 copia_DxOFP.jpg">
    </div>

    , del secolo XVII, dove oltre a due tele del Pomarancio e alla discussa "Madonna dell'Insalata" che alcuni
    attribuiscono al Caravaggio, si trova, entrando sulla destra, l'effige su lapide di

    <a data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="false"
      aria-controls="multiCollapseExample2">Ippolita Mezzalancia</a>
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <img style="width: 300px;margin-bottom: 30px;" src="assets\images\01_Ippolita Mezzalancia_DxOFP.jpg">
    </div>

    che una tradizione riferita da Vincenzo Spezioli autore di una guida di Recanati del 1898, indica essere il
    monumento sepolcrale che ispirò il canto Sopra il ritratto di una bella donna scolpito nel monumento sepolcrale
    della medesima.
    Il ritratto è disegnato su tela e spicca sulla cimasa della lapide con iscrizione latina, incorniciato in un ovale
    di marmo. La Mezzalancia apparteneva ad una antica famiglia di origine aretina, trasferitasi a Jesi, andata sposa ad
    Orazio Mazzagalli e morta all’età di 39 anni nel 1769. E’ questo un dettaglio molto importante per la nostra
    indagine perché Orazio Mazzagalli è il padre di Leandro marito di Isabella Antici sorella di Adelaide, madre di
    Giacomo. Quindi Leopardi oltre ad aver visto la lapide nella chiesa dei Cappuccini, complesso conventuale che
    frequentava da piccolo, ha avuto l’opportunità di ritornare sull’effige guardando altri due quadri commemorativi
    conservati a casa dei cugini. La morte prematura e l’eccezionalità delle sue doti hanno fatto di questa donna
    sicuramente una figura esemplare e a casa Mazzagalli Giacomo può aver sentito conversazioni – tipiche delle famiglie
    nobiliari – riguardo alle virtù eroiche di Ippolita, ben evidenziate anche sulla lapide voluta dal marito che la
    celebra come una donna devota a Dio, caritatevole verso i bisognosi, madre esemplare e amata da tutti.
    Sopra il ritratto… è una poesia poco valorizzata se non addirittura dimenticata eppure è un canto sorprendente, uno
    tra i più importanti di Leopardi composto nell’inverno del ’34-’35 e dove emergono in modo drammatico le domande sul
    mistero della nostra esistenza. La poesia parla infatti della bellezza femminile, dell’amore e del desiderio mai
    appagato, spazzati via dalla morte. Giacomo prende spunto dalla figura di Ippolita per dire “eri bella, ma ora sei
    solo polvere e scheletro, Così riduce il fato qual sembianza fra noi parve più viva immagine del ciel. Misterio
    eterno dell'esser nostro.” La natura umana è veramente un grande mistero! Per struttura fragile, ma capace di
    desideri infiniti e visioni altere, in continua ricerca come Ulisse, a diporto ardito notator per l’oceàno. Ma
    spesso accade che una stonatura, un accidente investa la nostra esistenza e che questa tensione si corrompa, fletta.
    Leopardi allora aggrava la sua domanda e grida: “essere umano, se sei così fragile e vile, se sei polvere e di te
    non rimane niente, perché brami, perché senti così alto? Natura umana, or come, se frale in tutto e vile, se polve
    ed ombra sei, tant’alto senti? Se il tuo essere è in parte nobile, spirituale, come è possibile che i migliori tuoi
    pensieri e azioni siano spazzati via da una esistenza che cessa, dalla distruzione del corpo? Se in parte anco
    gentile, come i più degni tuoi moti e pensieri son così di leggeri da sì basse cagioni e desti e spenti?
    <p>
      Clicca sul libro per andare a leggere la poesia "Sopra il ritratto di una bella donna scolpito nel monumento
      sepolcrale della medesima"
      <button class="button" (click)="searchByCapitolo(2)">
        <mat-icon>menu_book</mat-icon>
      </button>
    </p>
    <button class="button" style="float: left; margin-bottom: 10%" routerLink="/casa-leopardi"><mat-icon style="vertical-align: middle;">arrow_back</mat-icon></button>
    <button class="button" style="float: right; margin-bottom: 10%" routerLink="/piazzuola-sabato-del-villaggio"><mat-icon style="vertical-align: middle;">arrow_forward</mat-icon></button>
  </div>
</div>