<div class="container">

    <h1>La tabella qua sotto indica i dati del tuo account</h1>

    <div class="overflow-auto">
        <!--spostato lo style nel CSS -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>Email: </th>
                        <td>{{ utente.username }} </td>
                        <!-- <td><button class="" (click)="setChangeUserDetail()">Modifica</button>&nbsp; &nbsp;<input placeholder="Modifica" [(ngModel)]="utente.username"></td> -->

                    </tr>
                    <tr>
                        <th>Nome: </th>
                        <td>{{ utente.name }} </td>

                    </tr>
                    <tr>
                        <th>Cognome: </th>
                        <td>{{ utente.lastname }} </td>

                    </tr>
                    <tr>
                        <th>Cellulare: </th>
                        <td>{{ utente.cellulare }} </td>
                        <td><button class="" (click)="setChangeUserDetail()">Modifica</button>&nbsp; &nbsp;<input
                                placeholder="Modifica" [(ngModel)]="utente.cellulare"></td>
                    </tr>
                    <tr>
                        <th>Socio: </th>
                        <td>{{ socio }} </td>
                    </tr>
                    <!-- <td><button class="" (click)="setChangeUserDetail()">Salva Cambiamenti</button></td> -->
                </table>
            </div>
        </div>
    </div>

    <h3>Visite che hai prenotato :</h3>

    <div class="card my-5">
        <div class="overflow-auto">
            <!--spostato lo style nel CSS -->
            <div>
                <div>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Data</th>
                                <th scope="col">Orario</th>
                                <th scope="col">Numero dei componenti</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Cognome</th>
                                <th scope="col">Professione</th>
                                <th scope="col">Numero di telefono</th>
                                <th scope="col">Paese</th>
                                <th scope="col">Città</th>
                                <th scope="col">Info aggiuntive</th>
                                <th scope="col">Azioni</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of visita">
                                <td>{{ p.id }}</td>
                                <td name="data">{{ p.data }}</td>
                                <td name="orario">{{ p.orario }}</td>
                                <td name="numcomponenti">{{ p.numcomponenti }}</td>
                                <td name="nome">{{ p.nome }}</td>
                                <td name="cognome">{{ p.cognome }}</td>
                                <td name="cognome">{{ p.professione }}</td>
                                <td name="cellulare">{{ p.cellulare }}</td>
                                <td name="paese">{{ p.paese }}</td>
                                <td name="citta">{{ p.citta }}</td>
                                <td name="infoAggiuntiva">{{ p.infoAggiuntiva }}</td>
                                <td><button data-target="#exampleModal" data-toggle="modal"
                                        (click)="takeId(p.id)">Cancella Visita</button>&nbsp; &nbsp;</td>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Elimina Vista</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Vupoi eliminare la visita {{p.id}}?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary"
                                                    (click)="cancellaVisita()">Elimina Visita</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>