<div class="container">
  <h1><i>Centro Nazionale Studi Leopardiani</i><br><button class="button" (click)="goBack()"
      style="vertical-align:middle"><span>
        <mat-icon>arrow_back</mat-icon>
      </span></button></h1>
  <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
    src="assets\images\06_Centro_Nazionale_Leopardi_2_copia_DxOFP.jpg" alt="Card image cap">

  <div class="map-container" #map></div>
  <button class="button" style="color: red;" (click)="showMap()">Apri con maps</button>

  <div class="text">
    Risalendo la "piazzuola" e costeggiando verso sinistra casa Leopardi, percorriamo per circa cinquanta metri una
    stradina che porta verso il monte Tabor, meglio conosciuto come Colle dell'Infinito. Fatti pochi passi ancora, ci
    imbattiamo nell'ampia scalinata del

    <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
      aria-controls="multiCollapseExample1">Centro Nazionale Studi Leopardiani</a>
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <img style="width: 300px;margin-bottom: 30px;" src="assets\images\06_Centro_Nazionale_Leopardi_2_copia_DxOFP.jpg">
    </div>

    , istituto sorto nel 1937 allo scopo di diffondere l'opera di Giacomo Leopardi attraverso convegni, seminari e
    presentazioni di libri. Il Centro dispone di un'ampia biblioteca e possiede il

    <a data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="false"
      aria-controls="multiCollapseExample2">ritratto del poeta, realizzato nel 1845 da Domenico Morelli</a>
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <img style="width: 300px;margin-bottom: 30px;" src="assets\images\Giacomo_Leopardi_Morelli.jpg">
    </div>

    con l’assistenza di Antonio Ranieri sulla base della maschera funeraria.
    L’orto sul Colle dell’Infinito è gestito dal Fondo Ambiente Italiano che permette di effettuare visite anche su
    prenotazione. Per chi soggiorna a Recanati è un’esperienza da non perdere.
    Sulla scalinata del Centro Nazionale Studi Leopardiani, immersi nel verde che lo circonda, dove è facile trovare
    silenzio e concentrazione, rimaniamo stupiti quando scopriamo che per Giacomo la noia è il più sublime dei
    sentimenti umani perché è la constatazione del non potere essere soddisfatti da alcuna cosa terrena. La noia per lui
    è il segno della nobiltà e della grandezza della natura umana, esperienza reale di una esistenza mai paga. Nulla
    riesce a colmare il desiderio dell’uomo che ha natura infinita. Questa contraddizione per Leopardi è strutturale,
    non si può colmare o eliminare, tanto che chiama uomini di nessun momento coloro che non vivono e non provano questo
    sentimento. Il poeta esprime questa sproporzione dell'animo di fronte alla realtà nel Pensiero LXVIII.
    <p>
      Clicca sul libro per andare a leggere il "Pensiero LXVIII"
      <button class="button" (click)="searchByCapitolo(4)">
        <mat-icon>menu_book</mat-icon>
      </button>
    </p>
    <button class="button" style="float: left; margin-bottom: 10%" routerLink="/piazzuola-sabato-del-villaggio">
      <mat-icon style="vertical-align: middle;">arrow_back</mat-icon>
    </button>
    <button class="button" style="float: right; margin-bottom: 10%" routerLink="/monte-tabor">
      <mat-icon style="vertical-align: middle;">arrow_forward</mat-icon>
    </button>
  </div>
</div>