<div class="container">
    <h1><i>Palazzo Venieri</i><br><button class="button" (click)="goBack()" style="vertical-align:middle"><span>
                <mat-icon>arrow_back</mat-icon>
            </span></button></h1>
    <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
        src="assets\images\Palazzo Venieri_IGP1050_DxOFP.JPG" alt="Card image cap">

    <div class="map-container" #map></div>
    <button class="button" style="color: red;" (click)="showMap()">Apri con maps</button>

    <div class="text">

        Col sorriso negli occhi percorriamo l’ultimo tratto della nostra visita guidata dirigendoci verso Palazzo
        Venieri e il centro città. Ancora non riusciamo ad intravvedere scorci di panorama poichè i caseggiati
        settecenteschi con stemmi, scritte latine, ideogrammi sui portali, fanno ala al nostro passaggio: testimonianza
        di un tempo passato che noi possiamo solo immaginare.


        <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
            aria-controls="multiCollapseExample1">Palazzo Venieri</a>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <img style="width: 300px;" src="assets\images\Palazzo Venieri_IGP1050_DxOFP.JPG">
        </div>

        , che i recanatesi chiamano palazzo degli studi, sede del liceo classico, fu edificato dal cardinale Venieri
        nella seconda metà del 1400 e negli anni in cui visse Giacomo era abitato dalla nobile famiglia Carradori.
        I giardini pubblici al di là della strada erano parte del palazzo e collegati da una galleria alle vecchie
        scuderie. Entriamo nel cortile: a destra un pozzo, davanti a noi in alto sotto l’antico orologio, l’ammonimento
        “volat irreparabile tempus”. Ora una apertura con balaustra ci incanta: la vista sulla costa spazia da Osimo a
        Civitanova Marche e oltre; davanti l’Adriatico, a sinistra il Monte Conero, un po’ a destra Loreto e il
        pinnacolo della Santa Casa, che di sera illuminato è più riconoscibile.
        L’atrio di Palazzo Venieri è sempre tranquillo di pomeriggio e costituisce una sosta decisiva nel nostro
        procedere verso la conoscenza del grande poeta.
        Il luogo si presta alla lettura del canto Alla sua donna. L’inno è poco conosciuto, generalmente non viene fatto
        studiare a scuola e presenta una certa complessità, tanto che il Manzoni stesso ad una prima lettura trovò il
        testo incomprensibile. Scritto a Recanati in sei giorni nel settembre del 1823 è si trova in gigantografia nella
        sala conferenze del Centro Culturale G. Leopardi, visitabile solo su prenotazione.
        Nell’inno Alla sua donna, inno alla bellezza - quella bellezza che deve invadere il quotidiano e senza la quale
        come direbbe Pavese “il vivere taglia le gambe” - Leopardi dialoga con una alterità la cui presenza è certa, è
        quindi il canto alla bellezza con la B maiuscola quella che neanche il suo pessimismo riesce a cancellare.
        <p>
            Clicca sul libro per andare a leggere la poesia "Alla sua donna"
            <button class="button" (click)="searchByCapitolo(12)">
                <mat-icon>menu_book</mat-icon>
            </button>
        </p>
        <button class="button" style="float: left; margin-bottom: 10%" routerLink="/lettera-della-befana">
            <mat-icon style="vertical-align: middle;">arrow_back</mat-icon>
        </button>
        <button class="button" style="float: right; margin-bottom: 10%" routerLink="/piazza-torre-del-borgo">
            <mat-icon style="vertical-align: middle;">arrow_forward</mat-icon>
        </button>
    </div>
</div>