<div class="container">
    <h1><i>Piazza della Torre del Borgo</i><br><button class="button" (click)="goBack()"
            style="vertical-align:middle"><span>
                <mat-icon>arrow_back</mat-icon>
            </span></button></h1>
    <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
        src="assets\images\Piazza della torre del Borgo con la statua di G. Leopardi._IGP1059_DxOFP.JPG"
        alt="Card image cap">

    <div class="map-container" #map></div>
    <button class="button" style="color: red;" (click)="showMap()">Apri con maps</button>

    <div class="text">

        Uscendo dal Palazzo degli Studi ci troviamo già in

        <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
            aria-controls="multiCollapseExample1">piazza G. Leopardi </a>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <img style="width: 300px;"
                src="assets\images\Piazza della torre del Borgo con la statua di G. Leopardi._IGP1059_DxOFP.JPG">
        </div>

        dominata dalla statua imponente del poeta collocata qui nel 1871 e che volge le spalle al Palazzo Comunale. Sul
        lato nord della piazza campeggia una torre ghibellina risalente al XII secolo: è la

        <a data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="false"
            aria-controls="multiCollapseExample2">Torre del Borgo.</a>
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <img style="width: 300px;"
                src="assets\images\La torre del Borgo e la statua di G. Leopardi_IGP1061 copia_DxOFP.jpg">
        </div>

        Riviviamo qui nella piazza, dopo l’intensa passeggiata, la stessa esperienza descritta da Giacomo nei noti versi
        del Canto notturno di un pastore errante dell’Asia:<br>
        <i>E quando miro in cielo arder le stelle;/Dico fra me pensando:/A che tante facelle?/Che fa l'aria infinita, e
            quel profondo/Infinito Seren? che vuol dir questa/Solitudine immensa? ed io che sono?</i>
        <br>è questo il valore
        aggiunto del genio leopardiano. Il suo pessimismo è una domanda aperta, in ogni occasione, alla ricerca del
        senso dell’esistenza. Non ci possono essere risposte preconfezionate proprio perché la vita di ognuno è unica e
        irripetibile.
        Apriamoci allora alla scoperta dell’altra Bellezza, quella che è sottesa a tutti i suoi versi, quella che
        permette di verificare l’effetto contrario di Leopardi da cui è partito il tour.
        A presto!
    </div>
    <button class="button" style="float: left; margin-bottom: 10%" routerLink="/palazzo-venieri">
        <mat-icon style="vertical-align: middle;">arrow_back</mat-icon>
    </button>
</div>